* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(79, 55, 105);
  font-family: "poppins";
  padding: 5px 0 5px 0;
}

.logo img {
  image-rendering: optimizeSpeed; /*                     */
  image-rendering: -moz-crisp-edges; /* Firefox             */
  image-rendering: -o-crisp-edges; /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: pixelated; /* Chrome as of 2019   */
  image-rendering: optimize-contrast; /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
}

.nav-active {
  transform: translateX(0%);
}

@media screen and (max-width: 1750px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style: none;
  }
}

@media screen and (max-width: 1500px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
    list-style: none;
  }
}

@media screen and (max-width: 1200px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
    list-style: none;
  }
}

@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(79, 55, 105);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

/* MAIN */
main {
  background-color: rgb(245, 245, 245);
}

.landing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px 150px 50px 150px;
}

.landing-content {
  padding: 20px 0px 0 0;
  grid-column-start: 1fr;
  grid-column-end: 1fr;
}

/* .landing-content span {
  opacity: 50%;
} */

.landing-content > h1 {
  font-family: "poppins";
  font-size: 7em;
  padding: 10px 0 0 0;
}

.space {
  padding: 50px 0 0 0;
}

.landing-content > p {
  font-family: "poppins";
  font-size: 3em;
  line-height: 1.6em;
  padding: 20px 30px 0 0;
}

.button1 button {
  font-size: 1.6em;
  text-decoration: none;
  border: solid;
  background-color: rgba(252, 117, 158, 0.59);
  padding: 10px 30px 10px 30px;
  margin: 40px 10px 0 0;
  border-radius: 25px;
}

.button1 a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.button2 a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.button2 button {
  font-size: 1.6em;
  text-decoration: none;
  border: solid;
  background-color: rgba(149, 225, 212, 0.59);
  padding: 10px 30px 10px 30px;
  margin: 40px 10px 0 0;
  border-radius: 25px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-1 p {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.button-1:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-5px);
}

.button-2 p {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.button-2:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-5px);
}

.landing-imgBx {
  grid-column-start: 2fr;
  grid-column-end: 2fr;
}

@media screen and (max-width: 1700px) {
  .landing-container {
    flex-direction: column-reverse;
  }

  .landing-imgBx {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1500px) {
  .landing-container {
    flex-direction: column-reverse;
    padding: 0 0 0 0;
  }

  .landing-content {
    flex: display;
    justify-content: space-around;
    padding: 0 10px 0 10px;
  }

  .landing-content > h1 {
    padding: 10px 0 0 0;
  }

  .landing-content > p {
    font-family: "poppins";
    font-size: 1.6rem;
    line-height: 1.5em;
    padding: 20px 0 0 0;
  }

  .landing-imgBx {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
  }
}

/* SECTION */
.card-container {
  display: flex;
  justify-content: space-around;
  padding: 75px 100px 0px 100px;
}

.card-container > div {
  display: flex;
  flex-direction: column;
  font-family: "poppins";
  text-align: center;
  background-color: white;
  border-radius: 20px;
  width: 500px;
  padding: 40px;
}

.card-container > div h2 {
  font-size: 3em;
  padding: 20px 0 10px 0;
}

.card-container > div p {
  font-size: 2em;
  line-height: 1.6em;
}

.quote-1 span {
  font-weight: bold;
  padding: 0 10px;
}
.quote-1 p {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: "poppins";
  line-height: 2em;
}

.content-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0 0 0;
  padding: 0 400px 100px 400px;
}

.content-1 img {
  margin: 0 0 0px 0;
}

.content-1-text {
  font-family: "poppins";
  padding: 0 0 0px 60px;
  margin: 50px 0 0 0;
}

.content-1-text h2 {
  font-size: 3em;
  padding: 0 0 20px 0;
}

.content-1-text p {
  font-size: 2rem;
  line-height: 2em;
}

.content-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0 0 0;
  padding: 0 400px 100px 400px;
}

.content-2-text {
  font-family: "poppins";
  padding: 0 60px 0 0px;
}

.content-2-text h2 {
  font-size: 3em;
  padding: 0 0 20px 0;
}

.content-2-text p {
  font-size: 2rem;
  line-height: 2em;
}

.content-2-text button {
  font-size: 1.6em;
  text-decoration: none;
  border: none;
  background-color: #fc759e;
  padding: 10px 30px 10px 30px;
  margin: 40px 0 0 0;
  border-radius: 25px;
  font-family: "poppins";
}

.quote-2 {
  padding: 0 0 100px 0;
}

.quote-2 p {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  font-family: "poppins";
}

.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #4f3769;
  padding: 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-wrapper > h3 {
  color: white;
  font-size: 1.8em;
  font-family: "poppins";
  font-weight: bold;
}

.footer-wrapper > p {
  color: white;
  font-size: 1.6em;
  font-family: "poppins";
}





/* PLAY THERAPY - Subpage */
.play-therapy-heading {
  font-family: "poppins";
  font-size: 2.5em;
  padding: 30px 0 0 0;
  text-align: center;
}

.video {
  text-align: center;
  padding: 20px 0 0 0;
}

.video p {
  font-family: "poppins";
  font-size: 1.4em;
  font-style: italic;
}

.playtherapy-flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 100px 30px 100px;
}

.playtherapy-flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 100px 30px 100px;
}

.pt-container1 {
  font-family: "poppins";
  padding: 0 50px 0 50px;
}

.pt-container1 h2 {
  font-size: 3em;
}

.pt-container1 p {
  font-size: 2em;
  line-height: 1.6em;
}

.pt-container2 {
  font-family: "poppins";
  padding: 0 50px 0 50px;
}

.pt-container2 h2 {
  font-size: 3em;
}

.pt-container2 p {
  font-size: 2em;
  line-height: 1.6em;
}






/* Services */
.services-heading {
  font-family: "poppins";
  font-size: 2.5em;
  text-align: center;
  padding: 30px 0 0 0;
}
.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 50px 0 50px;
}

.services-container1 img {
  display: block;
}

.services-container2 img {
  display: block;
}

.services-container3 img {
  display: block;
}

.services-container4 img {
  display: block;
}


/* SERVICES - Card Hover 
.services-container1:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-15px);
}

.services-container2:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-15px);
}

.services-container3:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-15px);
}

.services-container4:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-15px);
}

*/

.services-container1 {
  padding: 0px 50px 50px 50px;
  font-family: "poppins";
}


.services-container1 h2 {
  font-size: 3em;
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.services-container1 p {
  font-size: 1.9em;
  line-height: 1.6em;
  background-color: white;
  padding: 0 20px 60px 20px;
}

.services-container2 {
  padding: 0px 50px 50px 50px;
  font-family: "poppins";
}

.services-container2 h2 {
  font-size: 3em;
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.services-container2 p {
  font-size: 1.9em;
  line-height: 1.6em;
  background-color: white;
  padding: 0 20px 30px 20px;
}

.services-container3 {
  padding: 0px 50px 50px 50px;
  font-family: "poppins";
}

.services-container3 h2 {
  font-size: 3em;
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.services-container3 p {
  font-size: 1.9em;
  line-height: 1.6em;
  background-color: white;
  padding: 0 20px 90px 20px;
}

.services-container4 {
  padding: 0px 50px 50px 50px;
  font-family: "poppins";
}

.services-container4 h2 {
  font-size: 3em;
  background-color: white;
  padding: 10px 20px 10px 20px;
}

.services-container4 p {
  font-size: 1.9em;
  line-height: 1.6em;
  background-color: white;
  padding: 0 20px 180px 20px;
}

/* FAQ Subpage*/
.faq-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1em 450px 1em 450px;
  border-style: solid;
  border-width: 0.1em;
  border-color: rgb(199, 199, 199);
}

.freq-asked-ques {
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-family: poppins;
  padding: 50px 0 0 0;
}

.faq-collapsible {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 2.6em;
  font-family: "poppins";
}

.active,
.faq-collapsible:hover {
  background-color: #95e1d4;
}

.faq-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}

.faq-content p {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  line-height: 2em;
  font-family: "poppins";
  padding: 0 50px 30px 50px;
}

.still-question h3 {
  font-size: 2.6em;
  font-family: "poppins";
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
}

.still-question p {
  font-size: 2em;
  font-family: "poppins";
  display: flex;
  justify-content: center;
  padding: 10px 0 50px 0;
}

/* CONTACT Subpage*/
.get-in-touch-body-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.get-in-touch {
  font-family: "Poppins";
  padding: 50px 0 0 80px;
}

.get-in-touch h1 {
  font-size: 4.5em;
}

.get-in-touch p {
  font-size: 1.6em;
  line-height: 2em;
}

.contact-form {
  font-size: 2em;
}

.contact-form input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
  font-family: "poppins";
  padding: 0 0 0 5px;
  font-size: 0.8em;
}

.contact-form #message {
  width: 500px;
  height: 100px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
}

label {
  display: inline-block;
  padding: 15px 0 0 0;
}

input[type="submit"] {
  width: 150px;
  background-color: #fc759e;
  color: white;
  margin: 10px 0 0 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 1.4em;
}

input[type="submit"]:hover {
  background-color: #95e1d4;
  
}
